{% extends 'common/base.html' %}


{% block content %}
<div class="content profile">
	<!--nickname, img_profile을 수정할 수 있는 form구현-->
	<h3>{{ cur_user }}</h3>

	<img src="{{ cur_user.img_profile.url }}" alt="" width="150">

	{% if user.is_authenticated %}
		{% if user != cur_user %}
			<!--follow_toggle뷰를 사용해 아래 버튼들이 동작하도록 구현-->
			<form action="{% url 'member:follow_toggle' user_pk=cur_user.pk %}" method="post">
				{% csrf_token %}
				{% if cur_user in user.following %}
				<button type="submit" class="btn">팔로우 취소</button>
				{% else %}
				<button type="submit" class="btn">팔로우</button>
				{% endif %}
			</form>
		{% else %}
		<a href="{% url 'member:profile_edit' %}" class="btn">프로필 수정하기</a>
		{% endif %}
	{% endif %}


	<h5>Following</h5>
	{% for u in cur_user.following %}
		<div>
			<!--해당 User의 Profile페이지로 갈 수 있는 링크 생성-->
			<a href="{% url 'member:profile' user_pk=u.pk %}" class="btn">{{ u }}</a>
		</div>
	{% endfor %}

	<h5>Followers</h5>
	{% for u in cur_user.followers %}
		<div>
			<!--해당 User의 Profile페이지로 갈 수 있는 링크 생성-->
			<a href="{% url 'member:profile' user_pk=u.pk %}" class="btn">{{ u }}</a>
		</div>
	{% endfor %}

	<ul class="profile-photo-list">
		{% for post in posts %}
		<li>
			<!--post로 이동하는 url링크 걸기-->
			<a href="{% url 'post:post_detail' post_pk=post.pk %}">
				<img src="{{ post.photo.url }}" alt="">
			</a>
		</li>
		{% endfor %}
	</ul>

	{% if next_page %}
	<a href="?page={{ next_page }}" class="btn btn-lg btn-primary btn-block">더 불러오기</a>
	{% endif %}

</div>
{% endblock %}
