html, body {
  font-size: 14px;
  line-height: 18px;
}

input[type=text], input[type=password] {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  color: #262626;
  font-size: 12px;
  outline: none;
  padding: 3px 10px 3px 10px;
  background-color: #fafafa;
}

a {
  color: #262626;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.test {
  padding: 10px;
  color: white;
  background-color: red;
  font-size: 14px;
}
