@import 'variables';

.btn {
  padding: 6px 12px;
  border: 1px solid $color-border;
  background-color: #fff;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  font-size: 11px;
}
.field-wrapper {
  margin-bottom: 10px;
  
  ul.errors {
    font-size: 11px;
    color: red;
    font-weight: bold;
    padding-left: 5px;
  }
  label {
    font-size: 11px;
  }
  input[type=text], input[type=password] {
    width: 100%;
    box-sizing: border-box;
  }
  p.help {
    font-size: 10px;
    color: #ccc;
    margin-top: 2px;
    margin-bottom: 0;
  }
}
