@import 'variables';

ul.profile-photo-list {
  // 하위요소들이 inline-block속성일 때, 
  // width값 외의 공백이 없도록 함
  font-size: 0;
  
  // ul자체의 좌/우 여백을 없애줌
  margin-left: -10px;
  margin-right: -10px;
  
  li {
    // 각각 100% / 3만큼의 영역을 차지
    display: inline-block;
    width: calc(100% / 3);
    box-sizing: border-box;
    padding: 10px;
    
    // 내부의 img는 무조건 가로 
    // (33.3333...%)를 꽉 채움
    img {
      width: 100%;
    }
  }
}
