{% extends 'common/base.html' %}

{% block content %}
<div class="content">
	<h3>YouTube Search</h3>
	<form action="">
		<input type="text" name="q" placeholder="YouTube에서 검색할 키워드를 입력해주세요">
	</form>

	<div>
		<h4>{{ re_pattern }}</h4>
		<h4>{{ query }}</h4>
		<ul>
			{% for video in videos %}
			<li style="margin-bottom: 10px;">
				<img src="{{ video.url_thumbnail }}" alt="" width="200">
				<div>{{ video.title }}</div>
				<form action="{% url 'post:youtube_post_create' %}" method="post">
					{% csrf_token %}
					<input type="hidden" name="video_pk" value="{{ video.pk }}">
					<button type="submit" class="btn btn-primary">포스팅하기</button>
				</form>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}